<div class="chat__container user">
  <i class="fa fa-user-circle chat__avatar" aria-hidden="true"></i>
  <div class="chat__bubble">
    <p class="chat__message"><%= receipt.message.body %></p>
    <p>USER!!!</p>
  </div>
</div>
<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>