<div class="chat__container">
  <%= image_tag current_user.counsellor.photo, class: 'chat__avatar' %>
  <div class="chat__bubble">
    <p class="chat__message"><%= receipt.message.body %></p>
    <% if false %>
      <p class="chat__username"><%= receipt.message.sender.name%> commented:</p class="chat__username"> <!-- Name is defined in the User Model -->
    <% end %>
  </div>
</div>

<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>

<!-- <div>
  <div>
    <%# puts "Generating partial //////////////////////////////" %>
    Current_user: <%#= current_user.name %>
    <br>
    Sender: <%#= receipt.message.sender.name %>
    <br>
    Receiver: <%#= receipt.message.recipients.first.name %>
    <br>
    <%# if receipt.message.recipients.first == current_user %>
      <%#= receipt.message.sender.name %> commented:
    <%# else %>
      You commented:
    <%# end %>
  </div>
  <p><%#= receipt.message.body %></p>
</div>
 -->
