  <% if @conversation %>
    <% if current_user %>
      <div class="chat__container user">
        <i class="fa fa-user-circle chat__avatar" aria-hidden="true"></i>
        <div class="chat__bubble">
          <p class="chat__message"><%= receipt.message.body %></p>
        </div>
      </div>
    <% elsif current_counsellor %>
      <div class="chat__container counsellor">
        <div class="chat__bubble">
        </div>
        <%= image_tag current_counsellor.photo, class: 'chat__avatar' %>
      </div>
    <% end %>
  <% end %>
<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>

<!-- <div>
  <div>
    <%# puts "Generating partial //////////////////////////////" %>
    Current_user: <%#= current_user.name %>
    <br>
    Sender: <%#= receipt.message.sender.name %>
    <br>
    Receiver: <%#= receipt.message.recipients.first.name %>
    <br>
    <%# if receipt.message.recipients.first == current_user %>
      <%#= receipt.message.sender.name %> commented:
    <%# else %>
      You commented:
    <%# end %>
  </div>
  <p><%#= receipt.message.body %></p>
</div>
 -->