<div class="chat__container counsellor">
  <div class="chat__bubble">
    <p class="chat__message"><%= receipt.message.body %></p>
  </div>
  <!-- CONTINUE HERE JUST GOT THE SHOW CORRECT UPON RELOAD -->
  <%#= image_tag current_counsellor.photo, class: 'chat__avatar' %>
</div>
<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>