// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// Define fonts for body and headers
// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// @import url('https://fonts.googleapis.com/css?family=Baloo|Open+Sans:300,400,600,700');
// $body-font: 'Open Sans', 'sans-serif';
// $headers-font: 'Baloo', 'cursive';
@import url('https://fonts.googleapis.com/css?family=Baloo|Exo+2:300,400,500,600,700');
$body-font: 'Exo 2', 'sans-serif';
$headers-font: 'Baloo', 'cursive';

.anchor__text {
  color: inherit;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid #FFF;
    padding: 0 0 4px 0;
  }
}
.font__size--tc {
  font-size: 12px;
}
.font__color--white {
  color: $white;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
