#chart-1 {
  transform: translateX(-6px);
}
.mood-face:hover {
  cursor: pointer;
}

.btn.btn-primary.mood-submit {
  display: none;
}

#modal-open {
  display: none;
}

.mood_mood {
  display: none;
}