<div id="conversation">
  <% if @conversation %>
    <% if current_user %>
      <%# array = [] %>
      <%# @conversation.receipts_for(current_user).reverse.each do |receipt| %>
        <%# array << receipt %>
      <%# end %>
      <% @conversation.receipts_for(current_user).reverse.each do |receipt| %>
        <%= render 'messages/show', receipt: receipt %>
        <%#= receipt.created_at %>
        <%#= render 'messages/show', receipt: receipt %>
      <% end %>
    <% elsif current_counsellor %>
      <% @conversation.receipts_for(current_counsellor).reverse.each do |receipt| %>
        <%= render 'messages/show', receipt: receipt %>
      <% end %>
    <% end %>
  <% end %>
  <%= render 'messages/form', conversation: @conversation %>
</div>

<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>