<div id="conversation">
  <% @conversation.receipts_for(current_user).each do |receipt| %>
    <%= render 'messages/show', receipt: receipt %>
    <br>
  <% end %>
</div>

<%= render 'messages/form', conversation: @conversation %>

<script>
  var element = document.getElementById("chat");
  element.scrollTop = element.scrollHeight;
</script>
