<h1><%= @conversation.subject %></h1>

<div id="conversation">
  <% @conversation.receipts_for(current_user).each do |receipt| %>
    <%= render 'messages/show', receipt: receipt %>
  <% end %>
</div>

<%= render 'messages/form', conversation: @conversation %>
