<!-- 324x296 ratio -->
<div id="chat">
<h2 class="">CHAT SPACE</h2>
<%#= current_user.mailbox %>

<!-- <script>
  var chat = document.querySelector(".chat");
  chat.scrollTop = chat.scrollHeight;
</script> -->

<%= render file: 'conversations/show' %>
</div>
