<!-- 324x296 ratio -->
<div class="text-center">

  <% user_moods = current_user.moods.limit(10) %>
  <p class="font__color--white">Mood Tracker</p>
  <p class="font__color--white"><%= user_moods.first.created_at.strftime("%B %d") %> to <%= user_moods.last.created_at.strftime("%B %d") %></p>
  <%= line_chart current_user.moods.limit(10).group_by_day(:created_at).sum(:mood),
    # use google chart, options are below
    # https://developers.google.com/chart/interactive/docs/gallery/linechart
    adapter: "google",
    # max: 5, min: 1,
    width: "350px", height: "250px",

    library: {
      # height: 200,
      # width: 350,
      curveType: "none", # "function" to be curved line
      backgroundColor: "transparent",

      # enable animation
      animation: {
        startup: true,
        duration: 1000,
        easing: "out"
      },

      chartArea: {
        # top: 50,
        # bottom: 10
        height: "60%"
      },

      hAxis: {
        textPosition: "none", # disable label of xAxis
        format: 'MMM d',
        slantedText: true,
        slantedTextAngle: 50,
        # textPosition: 'in'
        showTextEvery: 1,
        textStyle: {
          fontSize: 12
        }
      },

      vAxis: {
        # below set min - max in the chart
        viewWindow: {
          min: 1,
          max: 5
        },
        gridlines: {count: 4},
        textStyle: {
          fontSize: 20
        },
        ticks: [
          # https://getemoji.com
          {v: 1, f: "ðŸ˜±"},
          {v: 2, f: "ðŸ˜­"},
          {v: 3, f: "ðŸ™‚"},
          {v: 4, f: "ðŸ˜€"},
          {v: 5, f: "ðŸ˜"}]
          }
        } %>
</div>