<!-- 324x296 ratio -->
<div class="text-center">
  <p class="font__color--white">Mood Tracker</p>
  <% if false %>
  <i class="fa fa-smile-o fa-5x font__color--white"></i>
  <br>
  <br>
  <p class="font__color--white">[UNDER CONSTRUCTION]</p>
  <p class="font__color--white">Mood Tracker</p>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%# content_for :after_js do %>
    <%= line_chart current_user.moods.group_by_day(:created_at).sum(:mood), min: 1, max: 5, width: "300px", height: "200px", 
    download: "mood_tracker" %>
  <%# end %>
  
    <!-- change the data to Mood[mood] for each day (Data = variable after line_chart -->
</div>

