<div class="background--home">
  <!-- div.row is in application.html.erb -->
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 debug">
        <h1>Counsellor</h1>
        <h2>Feeling down? Let us help.</h2>
        <h3>Private and Convenient Professional Counselling. <br>Online Chat, Voice or Video Sessions</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 debug">
        <%= link_to "Get Started", root_path, class: "btn-success" %>
        <%#= link_to "Counsellor login", new_counsellor_session_path, class: "btn-success" %>
      </div>
    </div>
  </div>
</div>