<!-- div.row is in application.html.erb -->
<div class="col-xs-12 col-sm-12 col-md-12 debug">

  <h1>Counsellor</h1>
  <p>Feeling down? Let us help.
Private and Convenient Professional Counselling. Online Chat, Voice or Video Sessions</p>

</div>