<div class="wrapper">
  <div class="background--home"></div>
  <!-- div.row is in application.html.erb -->
  <!-- <div class="container-fluid"> -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row height__no-nav">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 flex__vert--left">
          <div>
            <h1>Counsellor</h1>
            <h2 class="bfont">Feeling down? Let us help.</h2>
            <h3 class="bfont">Private and Convenient Professional Counselling. <br>Online Chat, Voice or Video Sessions</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 flex__vert--center background--multiply">
          <div class="text-center">
            <%= link_to "Get Started", new_user_registration_path, class: "btn" %>
            <p class="font__color--white">or <%= link_to "Log in", new_user_session_path, class: "anchor__text" %> if you have an account</p>
            <%#= link_to "Counsellor login", new_counsellor_session_path, class: "btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>