
<h2>Feeling Down?</h2>
<h2>Let us help.</h2>
<h1>Private and Convenient Professional Counseling. Online Chat, Voice or Video Sessions</h1>
<%= link_to "Get Started", root_path, class: "btn-success"    %>
