
<div class="wrapper">
  <div class="background--home"></div>

  <!-- div.row is in application.html.erb -->
  <!-- <div class="container-fluid"> -->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="row height__no-nav">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 flex--vh-left">
          <div>
            <h1>Counsellor</h1>
            <h2 class="bfont">Feeling down? Let us help.</h2>
            <h3 class="bfont">Private and Convenient Professional Counselling. <br>Online Chat, Voice or Video Sessions</h3>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 flex--vh-center background--multiply position--relative">
          <div class="text-center">
            <%= link_to "Get Started", new_user_registration_path, class: "btn" %>
            <p class="font__color--white anchor__text"><%= link_to "Log in", new_counsellor_registration_path, class: "" %> if you have an account</p>
            <p class="font__color--white">or</p>
            <p id="counsellor_sign_up" class="font__color--white anchor__text">Interested to <%= link_to "work with us?", new_user_session_path, class: "" %></p>
            <%#= link_to "Counsellor login", new_counsellor_session_path, class: "btn-success" %>
          </div>
        </div>
      </div>
    </div>

  <!-- </div> -->
</div>
