.btn {
  background-color: transparent;
  border-radius: 500px;
  border: 2px solid $white;
  color: $white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin: 15px 0;
  padding: 10px 50px 13px 50px;
  transition: $duration--sm ease-in;
  &:hover, &:active, &:focus {
    // border: inherit;
    background-color: $white;
    color: $color__theme--main;
    // transition: $duration--sm ease-in;
  }
  &--sm {
    font-size: 20px;
    padding: 6px 28px 8px 28px;
  }
}