%extendDashCard {
  padding: 35px;
  overflow: hidden;
}
#dashcard {
  &__counsellor {
    @extend %extendDashCard;
    padding: 35px 0 35px 35px;
    position: relative;
    img {
      border-radius: 500px;
      height: 90px;
      width: 90px;
      margin: 12px 0 12px 0;
    }
    h5 {
      margin-bottom: 0;
    }
    h4 {
      // margin: 0 0 16px 0;
      margin: 0 0 8px 0;
      &:last-child {
        margin: 0;
      }
    }
    %extendCounsellor {
      background-color: $white;
      border-radius: 500px;
      display: inline-block;
      font-size: 14px;
      opacity: 1;
      padding: 1px 12px 2px 12px;
    }
    .counsellor__online {
      @extend %extendCounsellor;
      color: $color__accept;
    }
    .counsellor__offline {
      @extend %extendCounsellor;
      color: $color__reject;
    }
    @keyframes breathe {
      0% {color: $white;}
      50% {color: $color__accept;}
      100% {color: $white;}
    }
    .animate--boing {
      animation: boing $duration--md linear;
    }
    @keyframes boing {
      0% {transform: scale(1.2);}
      33% {transform: scale(1);}
      66% {transform: scale(1.1);}
      100% {transform: scale(1);}
    }
    .change__counsellor {
      // bottom: 22px;
      // left: 35px;
      // position: absolute;
      // text-align: center;
      // transform: translateY(-50%);
      // width: 75%;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  &__calendar {
    @extend %extendDashCard;
  }
  &__goals {
    @extend %extendDashCard;
    padding: 35px 0 35px 35px;
  }
  &__mood {
    @extend %extendDashCard;
  }
}
.dashboard--container {

}
.dashcard {
  &:after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 90%;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

// CSS GRID VERSION
// .dashboard--container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
// }
// %extendCard {
//   align-self: center;
//   justify-self: center;
// }
// .dashcard {
//   &-1 {
//     grid-column: 1 / 2;
//     grid-row: 1;
//     @extend %extendCard;
//   }
//   &-2 {
//     grid-column: 2 / 3;
//     grid-row: 1;
//     @extend %extendCard;
//     }
//   &-3 {
//     grid-column: 1 / 2;
//     grid-row: 2;
//     @extend %extendCard;
//     }
//   &-4 {
//     grid-column: 2 / 3;
//     grid-row: 2;
//     @extend %extendCard;
//     }
// }