#dashcard {
  &__counsellor {
    position: relative;
    img {
      border-radius: 500px;
      height: 90px;
      width: 90px;
      margin: 12px 0 12px 0;
    }
    h5 {
      margin-bottom: 0;
    }
    h4 {
      margin: 0 0 16px 0;
      &:last-child {
        margin: 0;
      }
    }
    .change__counsellor {
      bottom: 40px;
      left: 0;
      position: absolute;
      text-align: center;
      transform: translateY(-50%);
      width: 100%;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
  &__calendar {
  }
  &__goals {
  }
  &__mood {
    overflow: hidden;
    padding: 20px 20px 0 0;
  }
}
.dashboard--container {

}
.dashcard {
  &:after {
    background-color: $white;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 90%;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

// CSS GRID VERSION
// .dashboard--container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
// }
// %extendCard {
//   align-self: center;
//   justify-self: center;
// }
// .dashcard {
//   &-1 {
//     grid-column: 1 / 2;
//     grid-row: 1;
//     @extend %extendCard;
//   }
//   &-2 {
//     grid-column: 2 / 3;
//     grid-row: 1;
//     @extend %extendCard;
//     }
//   &-3 {
//     grid-column: 1 / 2;
//     grid-row: 2;
//     @extend %extendCard;
//     }
//   &-4 {
//     grid-column: 2 / 3;
//     grid-row: 2;
//     @extend %extendCard;
//     }
// }