%flexExtend {
  align-items: center;
  display: flex;
  height: 100%;
}
.flex {
  &--vh-left {
    @extend %flexExtend;
    justify-content: left;
  }
  &--vh-center {
    @extend %flexExtend;
    justify-content: center;
  }
  &--h-center {
    display: flex;
    height: 100%;
    justify-content: center;
  }
  &--vh-spb {
    @extend %flexExtend;
    justify-content: space-between;
  }
}
.height--100 {
  height: 100%;
}
.height--70 {
  height: 70%;
}
.height--65 {
  height: 65%;
}
.height--60 {
  height: 60%;
}
.height--50 {
  height: 50%;
}
.height--40 {
  height: 40%;
}
.height--35 {
  height: 35%;
}
.height--30 {
  height: 30%;
}
.height__no-nav {
  height: $heightNoNav;
}
.margin--top--sm {
  margin-top: 8px;
}
.padding--none {
  padding: 0;
}
.position--relative {
  position: relative;
}
.transition--none {
  transition-duration: unset !important;
}
.well {
  &__vertical {
    &--sm {
      padding: ($wellBase * 1) 0;
    }
    &--md {
      padding: ($wellBase * 2) 0;
    }
    &--lg {
      padding: ($wellBase * 3) 0;
    }
  }
}
.width--100 {
  width: 100%;
}