$duration--sm: 0.2s;
$duration--md: 0.4s;
$duration--lg: 0.6s;

.anchor__text {
  border-bottom: 1px solid #FFF;
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0 0 2px 0;
  text-decoration: none;
  &:hover {
    padding: 0 0 4px 0;
  }
}

%flexVertExtend {
  align-items: center;
  display: flex;
  height: 100%;
  padding-bottom: 40px;
}
.flex__vert {
  &--left {
    @extend %flexVertExtend;
    justify-content: left;
  }
  &--center {
    @extend %flexVertExtend;
    justify-content: center;
  }
}

$heightNoNav: calc(100vh - #{$navbarHeight});
.height__no-nav {
  height: $heightNoNav;
}

$base: 20px;
.well {
  &__vertical {
    &--sm {
      padding: ($base * 1) 0;
    }
    &--md {
      padding: ($base * 2) 0;
    }
    &--lg {
      padding: ($base * 3) 0;
    }
  }
}
.font__color--white {
  color: #FFFFFF;
}