.form-group.user_counsellor {
  visibility: hidden;
  height: 0;
  margin: 0;
}
.invisible {
  visibility: hidden;
  height: 0;
  opacity: 0;
}
.modal__container {
  flex-wrap: wrap;
  &--counsellor {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
    overflow: hidden;
    margin: 0 5% 5% 5%;
    width: 90%;
    position: relative;
    padding: 5% 1%;
    // justify-content: space-between;
    // flex-direction: column;
  }
}
.modal__card {
  &--counsellor {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    height: 140px;
    position: relative;
    transition: all $duration--lg cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      &.active {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        height: 90%;
        left: 4.8%;
        position: absolute;
        top: 5%;
        transition: all $duration--lg cubic-bezier(.25,.8,.25,1);
        width: 90.4%;
        z-index: 10;
      }
    }
    &:last-child {
      margin: 0;
      &.active {
      }
    }
    .modal {
      &--counsellor-photo {
        background-color: rgba(117,193,222,0.25);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
        width: 140px;
      }
      &--counsellor-text {
        padding: 16px 18px 0 18px;
        width: 600px;
        p {
          margin: 0 0 0 0;
          &.whole {
            line-height: 1.35;
            &.activate {
              transition-duration: $duration--lg;
            }
          }
        }
        h3 {
          margin-bottom: 0;
          line-height: 1;
        }
        h5 {
          margin-bottom: 6px;
        }
        &.active {
          align-items: flex-start;
          padding: 30px;
        }
        .counsellor__name {
          transition-duration: $duration--sm;
          &.active {
            font-size: 40px;
            margin-bottom: 0px;
            transition-duration: $duration--sm;
          }
        }
        .counsellor__expertise {
          transition-duration: $duration--sm;
          &.active {
            margin-bottom: 16px;
            transition-duration: $duration--sm;
          }
        }
      }
    }
  }
}
.modal__header {
  width: 100%;
  text-align: center;
  padding: 5% 0 0 0;
  h2{
    margin-bottom: 0;
  }
}
.selected::after {
  background-color: $color__accept;
  border-radius: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $white;
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 36px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: -16px;
  text-align: center;
  top: -16px;
  width: 50px;
  animation: scale $duration--sm ease;
}
.reset {
  animation: none;
}
@keyframes boing {
  0% {transform: translateY(-28px);}
  33% {transform: translateY(-2px);}
  66% {transform: translateY(6px);}
  100% {transform: translateY(0px);}
}
@keyframes scale {
  0% {transform: scale(1, 1);}
  33% {transform: scale(1.2, 1.2);}
  66% {transform: scale(0.8, 0.8);}
  100% {transform: scale(1, 1);}
}