.modal__container {
  &--counsellor {
    align-items: center;
    display: flex;
    // flex-direction: column; # Technically correct, but conflicts with :hover
    flex-wrap: wrap;
    height: 90%;
    justify-content: space-between;
    overflow: hidden;
    padding: 5%;
    width: 90%;
  }
}
.modal__card {
  &--counsellor {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    height: 30%;
    margin: 0 0 5% 0;
    position: relative;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &.active {
      // CONTINUE HERE PROB APPLY THIS AS A TOGGLE CLASS
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      height: 80%;
      margin: 0 10% 10% 0;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      position: absolute;
      top: 10%;
    }
    &:last-child {
      margin: 0;
      &.active {
        margin: 0 10% 10% 0;
      }
    }
    .modal {
      &--counsellor-photo {
        background-color: rgba(117,193,222,0.25);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
        width: 140px;
      }
      &--counsellor-text {
        padding: 18px;
        width: 75%;
        p {
          margin: 0 0 0 0;
        }
        h3 {
          margin-bottom: $baseFont / 4;
        }
        h5 {
          margin-bottom: $baseFont / 4;
        }
      }
    }
  }
}
.selected::after {
  background-color: $color__theme--accent;
  border-radius: 500px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $white;
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 40px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  right: -15px;
  text-align: center;
  top: -15px;
  width: 60px;
}