<div class="modal fade flex--vh-center" id="new_event">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title font__color--white">Create New Booking</h2>
      </div>
      <div class="modal-body">
        <%= render 'form', appointment: @appointment %>
      </div>
    </div>
  </div>
</div>
